[submodule "gen/tree-sitter/java/tree-sitter-java"]
	path = gen/tree-sitter/java/tree-sitter-java
	url = git@github.com:quentinLeDilavrec/tree-sitter-java.git

[submodule "gen/tree-sitter/html/tree-sitter-html"]
	path = gen/tree-sitter/html/tree-sitter-html
	url = git@github.com:quentinLeDilavrec/tree-sitter-html.git

[submodule "gen/tree-sitter/javascript/tree-sitter-javascript"]
	path = gen/tree-sitter/javascript/tree-sitter-javascript
	url = git@github.com:quentinLeDilavrec/tree-sitter-javascript.git

[submodule "gen/tree-sitter/xml/tree-sitter-xml"]
	path = gen/tree-sitter/xml/tree-sitter-xml
	url = git@github.com:quentinLeDilavrec/tree-sitter-xml.git
